body {
  background-color: #2f4f4f;
  color: #7fffd4;
  font-family: 'Courier New', Courier, monospace;
}

ul, ol {
  background-color: #2e8b57;
  color: #7fffd4;
}

a {
  background-color: #2e8b57;
  color: #f5fffa;
}